@using RedditNet.Models
@model IEnumerable<RedditNet.Models.CommentModel.CommentThreadModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <p>Hello world!</p>
    foreach (var c in Model)
    {
        <div style="margin-left : @c.Depth * 24p">
        @c.Text
        </div>
    }
}
