@using RedditNet.Models
@model IEnumerable<RedditNet.Models.SubRedditModel.SubRedditPreviewModel>


@{
    ViewData["Title"] = "RedditNet";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RedditNet</h1>
    <p> <a href="/subs/create">Create a new SubReddit</a>.</p>
    <h1>Existing SubReddits below! </h1>

    @{
        foreach (var s in Model)
        {
            <p>
                <a href="/subs/@s.Id/posts/0">@s.Name</a>
            <br />
            @s.Description
            </p>
        }
    }
</div>
