@using RedditNet.Models
@model IEnumerable<RedditNet.Models.SubRedditModel.SubRedditPreviewModel>


@{
    ViewData["Title"] = "RedditNet";
}

@if (ViewBag.Message != null)
{
    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}
<div class="text-center">
    <div class="container-fluid welcome-banner">
        Welcome to RedditNet!
    </div>
    
    @if(User.IsInRole("Admin"))
    {
        <button type="button" class="btn btn-info"> <a href="/subs/create" class="text-decoration-none link-light">Create a new SubReddit</a></button>
    }
  
    <div class="subs-wrapper">
    <h2 >Explore SubReddits down below </h2>
        
        <div class="container-fluid subs-list">
            @{
                foreach (var s in Model)
                {
                    <div class="subs-row">
                        <h5><a href="/subs/@s.Id/posts/0" class="text-decoration-none link-dark">@s.Name</a></h5>
                        
                        <p class="card-body">@s.Description</p>
                    </div>



                }
            }
        </div>
        
    </div>
    

    
</div>
