@using RedditNet.Models
@model RedditNet.Models.SubRedditModel.SubRedditDeleteModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" action="/subs/delete/@Model.Id">
    @Html.Label("UserId", "User ID")
    <br />
    @Html.TextBox("UserId", Model.UserId, new { @class = "form-control" })
    <br /><br />
    @Html.Label("Id", "ID")
    <br />
    @Html.TextBox("Id", Model.Id, new { @class = "form-control" })
    <br /><br />
    <button type="submit">Delete SubReddit</button>
</form>
